body {
  background-color: #f5f7fa;
}

.card {
  border-radius: 16px;
}

.form-control {
  height: 45px;
  border-radius: 10px;
}

.btn {
  border-radius: 10px;
}
.text-muted {
  color: #adb5bd !important;
}

.fundo{
  background-color: #343a40;
  height: auto;
  width: 100dvw;
  max-height: 100dvh;
}

.tabela{
  margin-bottom: 5dvh;
}

.sair{
  margin-top: 1dvh;
}
