body {
  background-color: #f5f7fa;
}

.card {
  border-radius: 16px;
}

.form-control {
  height: 45px;
  border-radius: 10px;
}

.btn {
  border-radius: 10px;
}
.text-muted {
  color: #adb5bd !important;
}

.fundo{
  background-color: #343a40;
  height: 100dvh;
  width: 100dvw;
}

.pessoas{
  padding-top: 1dvh;
}
